body {
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
}

/* Typhography */
.site-title h1 {
  font-size: 2rem;
  font-family: 'Lora', serif;
  font-weight: 400;
  color: #143774;
  margin: 0;
}

.site-title p {
  font-size: 0.75rem;
  font-weight: 700;
  margin: 0;
  color: #1792d2;
  text-transform: uppercase;
}

/* layout */

.container {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
}

.container-nav {
  display: flex;
  justify-content: space-between;
}

/* Media queries */
@media screen and (max-width: 675px) {
  .container-nav {
    flex-direction: column;
  }

  /* header */
  header {
    text-align: center;
  }
}

header {
  padding: 2em 0;
  background: #f8f8f8;
}

/* Media query -header */

/* Navigation */
nav ul {
  font-size: 1rem;
  list-style-type: none;
  padding: 0;
  color: #707070;
  display: flex;
  justify-content: center;
}

nav li {
  text-transform: uppercase;
  margin-left: 2em;
}

nav a {
  text-decoration: none;
  color: #707070;
  font-weight: 700;
  padding: 0.25em 0;
}

nav a:hover,
nav a:focus {
  color: #1792d2;
}

.current-page {
  border-bottom: 1px solid #707070;
}

.current-page:hover {
  color: #707070;
}

/* Media query nav-ul */
@media screen and (max-width: 675px) {
  nav ul {
    flex-direction: column;
  }

  nav li {
    margin: 0.5em 0;
  }
}
