body {
  font-size: 1.125rem;
  color: #707070;
  margin: 0;
}

/* typhography */

h1 {
  font-size: 3rem;
  color: #312614;
  text-align: center;
}

h1 span {
  color: #b7832f;
}

h2 {
  font-size: 1.5rem;
}

p {
  margin-top: 0;
}

.col-accent {
  background: #312614;
  color: white;
  padding: 1em;
}

/* Layout */

img {
  max-width: 100%;
}

.container {
  width: 95%;
  max-width: 980px;
  margin: 0 auto;
}

.columns {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 1em 0;
}

/* Media Query */
@media screen and (max-width: 600px) {
  .columns {
    display: flex;
    flex-direction: column;
  }
}

.col-1 {
  width: 20%;
}

.col-2 {
  width: 45%;
}

.col-3 {
  width: 70%;
}

/* Media queries class columns */
@media screen and (max-width: 600px) {
  .col-1,
  .col-2,
  .col-3 {
    width: 100%;
  }
}

.col-accent {
  background: #312614;
  color: white;
  padding: 1em;
}

/* Media Query */

/* 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 */
